# Deep learning examples using Keras + Tensorflow

## Build first network using Keras

In [80]:
# Create simple network with Keras
import tensorflow as tf

from keras.models import Sequential
from keras.layers import Dense
import numpy


import warnings
warnings.filterwarnings('ignore')
import pandas as pd

import seaborn as sns
%matplotlib inline

In [81]:
df = pd.read_csv('Churn_Modelling.csv')
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [85]:
df.drop(columns=['CustomerId','RowNumber','Surname'], index=1, inplace=True)

In [21]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [28]:
df_encoded = pd.get_dummies(df, columns=["Geography", "Gender"])

In [33]:
df_encoded.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
5,645,44,8,113755.78,2,1,0,149756.71,1,0,0,1,0,1

In [59]:
df_encoded.shape

(9999, 14)

In [50]:
df_encoded.to_csv(path_or_buf='bank_customer.csv')

In [87]:
# dataset = numpy.loadtxt("bank_customer.csv", delimiter=",")

# split into input (X) and output (Y) variables
# X = dataset[:,0:13]
# Y = dataset[:,13]

In [88]:
# Create simple network with Keras

ints = ['CreditScore', 'Age', 'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'Exited', 'Gender_Male','Gender_Female','Geography_France', 'Geography_Germany', 'Geography_Spain']
floats = ['Balance', 'EstimatedSalary']

dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df_encoded[floats].values, tf.float32),
            tf.cast(df_encoded[ints].values, tf.float32),
        )
    )
)


# split into input (X) and output (Y) variables
X = dataset['CreditScore', 'Age', 'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'Balance', 'EstimatedSalary','Geography', 'Gender']
Y = dataset['Exited']

IndentationError: unexpected indent (<ipython-input-88-94d56408908b>, line 7)

In [90]:
### Due to some mistake Could not successfully manage the data types - tried two paths. Both failed
### Provide I could clear this obstacles, following code would have worked - as per my understanding.

In [89]:
# create first model
model = Sequential()
#Adding 3 dense layers
model.add(Dense(12, input_dim=13,init='uniform'))
model.add(Dense(8,init='uniform'))
model.add(Dense(1,init='uniform'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Fit the model
model.fit(X, Y, nb_epoch=20, batch_size=10,  verbose=2)
# evaluate the model

scores = model.evaluate(X, Y)
# print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

In [3]:
# Extending the first model with activation functions
model = Sequential()
#specifying activation functions
model.add(Dense(12, input_dim=13, init='uniform', activation='relu'))
model.add(Dense(8, init='uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Fit the model
model.fit(X, Y, nb_epoch=20, batch_size=10,  verbose=2)
# evaluate the model
scores = model.evaluate(X, Y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

C:\WinPython-64bit-3.5.2.3Qt5\python-3.5.2.amd64\lib\site-packages\ipykernel\__main__.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(12, activation="relu", input_dim=8, kernel_initializer="uniform")`
C:\WinPython-64bit-3.5.2.3Qt5\python-3.5.2.amd64\lib\site-packages\ipykernel\__main__.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(8, activation="relu", kernel_initializer="uniform")`
C:\WinPython-64bit-3.5.2.3Qt5\python-3.5.2.amd64\lib\site-packages\ipykernel\__main__.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
C:\WinPython-64bit-3.5.2.3Qt5\python-3.5.2.amd64\lib\site-packages\ipykernel\__main__.py:10: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/20
 - 0s - loss: 0.6791 - acc: 0.6510
Epoch 2/20
 - 0s - loss: 0.6594 - acc: 0.6510
Epoch 3/20
 - 0s - loss: 0.6549 - acc: 0.6497
Epoch 4/20
 - 0s - loss: 0.6416 - acc: 0.6615
Epoch 5/20
 - 0s - loss: 0.6341 - acc: 0.6576
Epoch 6/20
 - 0s - loss: 0.6222 - acc: 0.6693
Epoch 7/20
 - 0s - loss: 0.6073 - acc: 0.6888
Epoch 8/20
 - 0s - loss: 0.5994 - acc: 0.6979
Epoch 9/20
 - 0s - loss: 0.5963 - acc: 0.6953
Epoch 10/20
 - 0s - loss: 0.5891 - acc: 0.7005
Epoch 11/20
 - 0s - loss: 0.5899 - acc: 0.6888
Epoch 12/20
 - 0s - loss: 0.5854 - acc: 0.6914
Epoch 13/20
 - 0s - loss: 0.5935 - acc: 0.6966
Epoch 14/20
 - 0s - loss: 0.5860 - acc: 0.6901
Epoch 15/20
 - 0s - loss: 0.5807 - acc: 0.7135
Epoch 16/20
 - 0s - loss: 0.5732 - acc: 0.7174
Epoch 17/20
 - 0s - loss: 0.5768 - acc: 0.7161
Epoch 18/20
 - 0s - loss: 0.5711 - acc: 0.7214
Epoch 19/20
 - 0s - loss: 0.5660 - acc: 0.7344
Epoch 20/20
 - 0s - loss: 0.5674 - acc: 0.7201
768/768 [==============================] - 0s 77us/step
acc: 73.57%

In [63]:
# evaluate the model
scores = model.evaluate(X, Y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

In [5]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 12)                108
_________________________________________________________________
dense_5 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 9
=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________