# Supervised Learning - Building a Student Performace Prediction System

# Classification vs. Regression
The aim of this project is to predict how likely a student is to pass. Which type of supervised learning problem is this, classification or regression? Why?
Answer:
This project is a classification supervised learning problem because the variable to predict, i.e. if a student graduates or fails to graduate, is categorical. On this case this a dichotomous categorical variable where the only two possible values are "pass" or "fail".

### Overview:

1.Read the problem statement.

2.Get the dataset.

3.Explore the dataset.

4.Pre-processing of dataset.

5.Transform the dataset for building machine learning model.

6.Split data into train, test set.

7.Build Model.

8.Apply the model.

9.Evaluate the model.

10.Provide insights.

## Problem Statement 

Using Logistic Regression **predict the performance of student**. The classification goal is to predict whether the student will pass or fail.

## Dataset 

This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in Mathematics.

**Source:** https://archive.ics.uci.edu/ml/datasets/Student+Performance

# Question 1 - Exploring the Data (0.5 points)
*Read the dataset file using pandas. Take care about the delimiter.*

#### Answer:

In [102]:
import warnings 
warnings.filterwarnings('ignore'),
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from scipy.stats import zscore
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib as plt

In [87]:
# columns = ["school", "sex", "age", "address", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "guardian", "traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","famrel","freetime","goout","Dalc","Walk","health","absences"] 
# names = columns
students_data = pd.read_csv('students-data.csv', ';')
students_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

# Question 2 - drop missing values (0.5 points)
*Set the index name of the dataframe to **"number"**. Check sample of data to drop if any missing values are there.*
*Use .dropna() function to drop the NAs*

#### Answer:

In [88]:
#set the name of the index column as "number"
students_data.index.name = 'number'

# drop missing values
students_data.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

# Transform Data

## Question 3 (0.5 points)

*Print all the attribute names which are not numerical.*

**Hint:** check **select_dtypes()** and its **include** and **exclude** parameters.**

#### Answer:

In [68]:
stcat = students_data.select_dtypes(exclude=['int64','bool', 'float']) # this includes some columns whose dtypes are str but looks numeric

# students_data.select_dtypes(include=['object']) # this makes sure of printing all non-numeric values

# Question 4 - Drop variables with less variance (0.5 points)

*Find the variance of each numerical independent variable and drop whose variance is less than 1. Use .var function to check the variance*

In [89]:
stnum = students_data.select_dtypes(include=['int64','bool', 'float'])
Xprep = stnum.drop('G3', axis=1)
Y = stnum.pop('G3')
Xprep.var() < 1
# X = Xprep.drop([(X.var() < 1)], axis=1)
# students_data.info()

age           False
Medu          False
Fedu          False
traveltime     True
studytime      True
failures       True
famrel         True
freetime       True
goout         False
Dalc           True
Walc          False
health        False
absences      False
G1            False
G2            False
dtype: bool

In [90]:
X = Xprep.drop(['traveltime','studytime','failures', 'famrel','freetime','Dalc'], axis = 1)
X.head()

        age  Medu  Fedu  goout  Walc  health  absences  G1  G2
number
0        18     4     4      4     1       3         6   5   6
1        17     1     1      3     1       3         4   5   5
2        15     1     1      2     3       3        10   7   8
3        15     4     2      2     1       5         2  15  14
4        16     3     3      2     2       5         4   6  10

#### Variables with less variance are almost same for all the records. Hence, they do not contribute much for classification.

# Question 6 - Encode all categorical variables to numerical (0.5 points)

Take the list of categorical attributes(from the above result) and convert them into neumerical variables. After that, print the head of dataframe and check the values.

**Hint:** check **sklearn LabelEncoder()**

#### Answer:

In [91]:

stcat_xform = stcat.apply(LabelEncoder().fit_transform)
stcat_xform.head(10)

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
number,,,,,,,,,,,,,,,,,
0,0,0,1,0,0,0,4,0,1,1,0,0,0,1,1,0,0
1,0,0,1,0,1,0,2,0,0,0,1,0,0,0,1,1,0
2,0,0,1,1,1,0,2,2,1,1,0,1,0,1,1,1,0
3,0,0,1,0,1,1,3,1,1,0,1,1,1,1,1,1,1
4,0,0,1,0,1,2,2,1,0,0,1,1,0,1,1,0,0
5,0,1,1,1,1,3,2,3,1,0,1,1,1,1,1,1,0
6,0,1,1,1,1,2,2,1,1,0,0,0,0,1,1,1,0
7,0,0,1,0,0,2,4,1,1,1,1,0,0,1,1,0,0
8,0,1,1,1,0,3,2,1,1,0,1,1,0,1,1,1,0
9,0,1,1,0,1,2,2,1,1,0,1,1,1,1,1,1,0

# Question 7 - Convert the continuous values of grades into classes (1 point)

*Consider the values in G1, G2 and G3 with >= 10 as pass(1) and < 10 as fail(0) and encode them into binary values. Print head of dataframe to check the values.*

#### Answer:

In [92]:
stgrades = students_data[['G1', 'G2', 'G3']]
stgrades.head(10)

        G1  G2  G3
number
0        5   6   6
1        5   5   6
2        7   8  10
3       15  14  15
4        6  10  10
5       15  15  15
6       12  12  11
7        6   5   6
8       16  18  19
9       14  15  15

In [93]:
# stgrades.head(10)

st_pass_fail = pd.DataFrame(np.where(stgrades >= 10, 1, 0),columns = stgrades.columns)
st_pass_fail.head(10)

   G1  G2  G3
0   0   0   0
1   0   0   0
2   0   0   1
3   1   1   1
4   0   1   1
5   1   1   1
6   1   1   1
7   0   0   0
8   1   1   1
9   1   1   1

# Question 8 (0.5 points)

*Consider G3 is the target attribute and remaining all attributes as features to predict G3. Now, separate feature and target attributes into separate dataframes with X and y variable names.*

In [98]:
# Done as part of question number 4 - done as part of segregating the independent variables
# see those commands (copied from Question Number 4) as comment below
# Xprep = stnum.drop('G3', axis=1)
# Y = stnum.pop('G3')

# X = Xprep.drop(['traveltime','studytime','failures', 'famrel','freetime','Dalc'], axis = 1)
# X.head()
# Y = st_pass_fail.drop('G3', axis = 1)

# drop independent variables G1, G2 so as to later concatenate the transformed ones - which conveys pass / fail classification
X.drop(['G1', 'G2'], axis=1, inplace=True)

X = pd.concat([X, st_pass_fail], axis=1)
Y = X.pop('G3')
# X.head(10)
Y.head(10)

number
0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    1
9    1
Name: G3, dtype: int32

# Question 9 - Training and testing data split (0.5 points)

# *So far, you have converted all categorical features into numeric values. Now, split the data into training and test sets with training size of 300 records. Print the number of train and test records.*

**Hint:** check **train_test_split()** from **sklearn**

#### Answer:

In [100]:
test_size = 0.24 # taking 300 records for training and 95 for test set
seed = 1  # Random numbmer seeding for reapeatability of the code
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(300, 11)
(95, 11)
(300,)
(95,)

# Question 10 - Model Implementation and Testing the Accuracy (0.5 points)

*Build a **LogisticRegression** classifier using **fit()** functions in sklearn. 
* You need to import both Logistic regression and accuracy score from sklearn*
#### Answer:

In [103]:
LR_model = LogisticRegression()
LR_model.fit(X_train, Y_train)
Y_pred = LR_model.predict(X_test)
acc_score = accuracy_score(Y_test, Y_pred)
print(acc_score)

0.9052631578947369

# Question 11 - Print the intercept of the Logistic regression model (0.5 points)

The value of the intercepts are stored in the model itself. You can use .intercept_ function to do the same

In [107]:
print('intercept: ', LR_model.intercept_)

intercept:  [0.57474653]

# Question 12 - Print the coefficients of the model (0.5 points) and name the coefficient which has the highest impact on the dependent variable (0.5 points)

Hint: Use .coef_ to get the coefficients and use pd.Dataframe to store the coefficients in a dataframe with column names same as the independent variable dataframe

In [108]:
print('coefficient: ', LR_model.coef_)

coefficient:  [[-0.10462434  0.21117137 -0.46302414 -0.25171184  0.46479117 -0.12377363
  -0.02309001  0.65728014  2.17744526  0.65728014  2.17744526]]

# Question 13 - Predict the dependent variable for both training and test dataset (0.5 points)

Accuracy score() should help you to print the accuracies

In [109]:
acc_test = accuracy_score(Y_test, Y_pred)
print(acc_test)

0.9052631578947369

In [111]:
Y_pred_train = LR_model.predict(X_train)
acc_train = accuracy_score(Y_train, Y_pred_train)
print(acc_train)

0.9233333333333333